/* * All Block's Style */
@import url(./css/all-block/all-block.css);

/* * All Section's Style */
@import url(./css/section/all-section.css);

/* * Decaration's Style */
@import url(./css/decaration.css);

/* * General Element */
@import url(./css/general.css);

/* * Container */
@import url(./css/container.css);

/* * Varriables */
@import url(./css/varriables.css);


/* TODO: ================ START ================*/


/* ALL PACK BTN BEST PRACTIC */
.btn-sign-up {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    background-color: var(--classic-color);
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
  
.btn-sign-up:hover {
    opacity: 0.8;
}
.btn-sign-up:active {
    opacity: 0.6;
}